version: v2
teleport:
  nodename: {{ inventory_hostname }}
  data_dir: {{ teleport_data_directory }}
  log:
    output: {{ log_output }}
    severity: {{ log_severity }}
    format:
      output: {{ log_format_output }}
{% if auth_token is defined %}
  auth_token: {{ auth_token }}
{% endif %}
{% if auth_servers is defined %}
  auth_servers:
{% for server in auth_servers %}
    - {{ server }}
{% endfor %}
{% endif %}
  ca_pin: {{ ca_pin }}
  diag_addr: {{ diag_addr }}
{% if enable_auth_service | bool %}
auth_service:
  enabled: "yes"
  listen_addr: {{ teleport_auth_listen_address | default('0.0.0.0:3025') }}
  cluster_name: {{ cluster_name }}
  proxy_listener_mode: {{ proxy_listener_mode }}
{% if auth_service_authentication is defined %}
  authentication:
{% for auth_setting_name, auth_setting_value in auth_service_authentication.items() %}
    {{ auth_setting_name }}: {{ auth_setting_value }}
{% endfor %}
{% endif %}
{% if auth_service_tokens is defined %}
  tokens:
{% for token in auth_service_tokens %}
    - {{ token }}
{% endfor %}
{% endif %}
{% else %}
auth_service:
  enabled: "no"
{% endif %}
{% if enable_ssh_service | bool %}
ssh_service:
  enabled: "yes"
{% if labels is defined %}
  labels:
{% for labelname, labelvalue in labels.items() %}
    {{ labelname }}: {{ labelvalue }}
{% endfor %}
{% endif %}
{% if commands is defined %}
  commands:
{% for command in commands %}
  - name: {{ command.name }}
    command: {{ command.command }}
    period: {{ command.period }}
{% endfor %}
{% endif %}
{% else %}
ssh_service:
  enabled: "no"
{% endif %}
{% if enable_proxy_service | bool %}
proxy_service:
  enabled: "yes"
  web_listen_addr: {{ teleport_proxy_listen_address | default('0.0.0.0:443') }}
  public_addr: {{ teleport_public_address | default(ansible_default_ipv4.address|default(ansible_all_ipv4_addresses[0])) }}:443
  https_keypairs:
  - key_file: {{ tls_key_file }}
    cert_file: {{ tls_cert_file }}
  acme: {{ proxy_acme }}
{% else %}
proxy_service:
  enabled: "no"
{% endif %}
{% if enable_app_service | bool %}
app_service:
  enabled: "yes"
{% else %}
app_service:
  enabled: "no"
{% endif %}
{% if enable_kubernetes_service | bool %}
kubernetes_service:
  enabled: "yes"
{% else %}
kubernetes_service:
  enabled: "no"
{% endif %}
{% if enable_db_service | bool %}
db_service:
  enabled: "yes"
{% else %}
db_service:
  enabled: "no"
{% endif %}
